<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% @users.each do |u| %>
            <div class="post-preview">
                    <h3 class="post-title">
                        <% @name = u.username %>
                        <%= link_to  @name, @name%>
                    </h3>
            </div>
            <% end %>
        </div>
    </div>
</div>
