    <!-- Main Content -->
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @posts.each do |post| %>
                  <div class="post-preview">
                          <h3 class="post-title">
                              <%= post.content %>
                          </h3>
                      <p class="post-meta">Posted by  <%= User.find(post.user_id).username %>  <%= time_ago_in_words(post.created_at)%> ago</p>
                  </div>
                  <% end %>
              </div>
          </div>
      </div>
